/* mise en forme en tete*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    overflow: hidden;
    height: 10rem;
}

header h1 {
    color: #901C1C;
    font-size: 2.3rem;
    font-weight: normal;
    width: fit-content;
}

header img {
    width: 8rem;
}

@media screen and (min-width: 1170px) {
    h1 {
        font-size: 1.8em;}

    header {
        margin-top: 0;}

    header img {
        width: 12.5rem;}
}

/* Mise en forme section des photographes */
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem 12rem;
    margin-top: 1.5rem;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.phLink {
    text-decoration: none;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #dedede;
    box-shadow: 0 0 1.2rem rgba(134, 134, 134, 0.432);
    margin-bottom: 0rem;
}

.phName {
    color: #D3573C;
    font-size: 2.3rem;
    margin-bottom: 0.2rem;
    font-weight: normal;
}

.phCity {
    color: #901C1C;
    margin: 0;
    font-size: 0.9rem;
    font-weight: normal;
}

.phTagline {
    margin: 0;
    font-size: 0.7rem;
    font-weight: normal;
}

.phPrice {
    color: #757575;
    margin: 0;
    font-size: 0.6rem;
    font-weight: normal;
}

