/* Mise en forme menu dropdown */
.dropdownMenu {
    display: flex;
    justify-content: flex-start;
    margin-left: 4.5rem;
    margin-bottom: 1rem;
}

.sortTitle {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.sortMenuHidden {
    display: none;
}  

#pop, #popHidden, #dateHidden, #titleHidden {
    display: flex;
    justify-content: space-between;
    background: #901c1c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    width: 150px;
}

.arrow-up-close, .arrow-down-open {
    margin-top: 3px;
}


/* Mise en forme compteur des likes */
#counter{
    align-items: center;
    background: #db8876;
    bottom: 0;
    display: flex;
    font-size: 1.4em;
    font-weight: 500;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    right: 2.5rem;
    width: 350px;
    border-radius: 0.5rem 0.5rem 0 0;
}

#counter {
    padding-right: 2.5rem;
}

#counter .fa-heart {
    margin-right: 80px;
    color: black;
}

#counterTotalLikes {
    margin-left: 2rem;
}
