@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

@media screen and (min-width: 375px){
.logo {
    height: 37px;}
}

nav ul li:hover,
li.actived {
    background-color: #901C1C;
    color: #fff;
}

ul li {
    border: .5px solid #C4C4C4;
    border-radius: 11px;
    color: #901C1C;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin: 0 .1875rem;
    padding: .0625rem .375rem;
    text-decoration: none;
    transition: all .2s;
}